{{page-title 'UniDancing'}}

<nav class='container-fluid' local-class='nav'>
  <ul>
    <li><LinkTo @route='application'><strong>UniDancing</strong></LinkTo></li>
    <li>
      <LinkTo @route='skills'>
        <Icon @icon='skill' />
        <span local-class='label'>Fertigkeiten</span>
      </LinkTo>
    </li>
    <li>
      <LinkTo @route='exercises'>
        <Icon @icon='exercise' />
        <span local-class='label'>Übungen</span>
      </LinkTo>
    </li>
    <li>
      <LinkTo @route='moves'>
        <Icon @icon='move' />
        <span local-class='label'>Moves</span>
      </LinkTo>
    </li>
    <li>
      <LinkTo @route='choreography'>
        <Icon @icon='choreo' />
        <span local-class='label'>Choreographie</span>
      </LinkTo>
    </li>
  </ul>

  <ul>
    <li>
      <details role='list' dir='rtl'>
        <summary aria-haspopup='listbox' role='link'>
          <span>
            <Icon @icon='game' />
            <span local-class='label'>Games</span>
          </span>
        </summary>
        <ul role='listbox' dir='ltr'>
          {{#let (this.buildGameLink this.Game.DanceMix) as |link|}}
            <li><a href={{link.url}} {{on 'click' link.transitionTo}}>Dance Mix</a></li>
          {{/let}}

          {{#let (link 'games' this.Game.Bingo) as |link|}}
            <li><a
                href={{link.url}}
                {{on 'click' link.transitionTo}}
              >Bingo</a></li>
          {{/let}}
        </ul>
      </details>
    </li>
  </ul>
</nav>

<div class='container'>
  <div class='grid' local-class='main' data-game={{this.game}}>
    <main>
      {{outlet}}
    </main>

    {{#if this.game}}
      <aside>
        <button
          class='secondary outline'
          local-class='close'
          {{on 'click' this.close}}
        >X</button>
        <Game @game={{this.game}} />
      </aside>
    {{/if}}
  </div>
</div>

<Player />