{{page-title 'Moves'}}

<h1>Moves</h1>

<h2>Kursinhalte</h2>

<ul>
  <li>Steigerung des Bewegungsrepertoire</li>
  <li></li>
</ul>

<h2>Trainingseinheiten</h2>

<h3>Einheit 1</h3>

Einsteiger Moves

<div local-class='moves'>
  {{#each @model.lesson1.moves as |move|}}
    <Moves::Teaser @move={{move}} @link={{link 'moves.details' move.id}} />
  {{/each}}
</div>

<h3>Einheit 4</h3>

Übungen

<div local-class='moves'>
  {{#each @model.lesson4.exercises as |ex|}}
    <Exercises::Teaser
      @exercise={{ex}}
      @link={{link 'exercises.details' ex.id}}
    />
  {{/each}}
</div>

<h3>Einheit 5</h3>

Übungen

<div local-class='moves'>
  {{#each @model.lesson5.exercises as |ex|}}
    <Exercises::Teaser
      @exercise={{ex}}
      @link={{link 'exercises.details' ex.id}}
    />
  {{/each}}
</div>